*{
  margin:0;
  padding:0;
  text-align: center;
  box-sizing: border-box;
  
}
body{
   background-color: #26293A;
}
.App{
  width:90%;
  margin:auto;
  position: relative;
}
/* start nav bar*/
.nav{
  position: absolute;
  color: #fff;
  right: -50px;
  top: 84px;
  transform: rotate(90deg) translate(0,-30px);
}
  

.nav .nav-links li{
  display: inline-block;
  list-style-type: none;
  margin:10px;
}
.styling{
  position: absolute;
  right:0;
  top:35%;
  color:#fff;
}
.styling li{
  margin:10px;
}
.styling li span {
  padding: 10px;
}
.styling .small-circle{
  width:5px;
  height: 5px;
  border-radius: 50%;
  background-color: yellow;
}
.styling ul:nth-child(1){
  transform: translateX(118px);
}
.styling .big-circle{
  width:15px;
  height: 15px;
  border-radius: 50%;
  background-color: yellow;
  display: inline-block;
}
.big-circle-wrapper{
  transform: translate(-90px,0);
}
/* end nav bar*/


.heading h2{
  font-size: 30px ;
}
.heading p{
  font-size: 20px;
  margin:15px;
}
header{

  height: 100vh;
  color: rgb(239,239,240);
  font-size:40px;
  border:1px solid transparent;
  

}
header input{
  width: 300px;
  height: 32px;
  border: 2px solid #101010;
  border-radius: 5px;
  outline: none;
  text-align: left;
 
}
header button{
  border-radius: 5px;
  width: 135px;
  height: 29px;
  background-color: #339AF0;
  border: none;
  transform:translate(-2px,0);
  outline: none;

}
header p{
  color:#5B636D;
}
header > ul li div{
  width:100px;
  height: 100px;
  border-radius: 50%;
  background-color:#EC6E4C;
  position: absolute;
  left:50%;
  transform: translate(-50%,1%);
}

 ul{
  list-style-type: none;
 
}
header > ul li{
  margin:20px;
}
header > ul li:nth-child(2){
  height: 100px;
  margin-left:50px;
  overflow: hidden;
}
.heading{
  margin:20px;
}